

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}
.wyszukiwarka {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.wyszukiwarka i {
    margin-right: 5px;
}
.cont1 {
    margin-bottom: 10px;
    border-style: groove;
}
.task {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: dotted;
}
.delete-icon {
    cursor: pointer;
    color: red;
}
.highlight {
    background-color: yellow;
}
.edit-input {
    font-size: 1em;
    width: 100%;
}