.task{
    border-style: groove;
    padding: 5px;
}

.cont1{
    width: 70%;
    font-family: 'Courier New', monospace;
}

i{
    float: right;
    padding-right: 10px;
}

.wyszukiwarka{
    width: 30%;

}

